.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-image: url('../pictures/pexels-ben-mack-6775281.jpg');
  background-size: cover;
  background-position: center;
  color: #000000; /* Text color */
  padding: 40px 20px;
}

.about-content {
  background-color: hidden
  ; /* White background with transparency */
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  max-width: 900px; /* Maximum content width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.805); /* Slight shadow effect */
}

.about-content h2 {
  font-size: 2.2em;
  margin-top: 20px;
  color: #000000;
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #333;
}
