.footer {
  background-color: #404040;
  
  text-align: center;
  padding: 20px 0;
  position:fixed ;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 10px;
}

.social-media a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.social-media a:hover {
  color: #ffffff; /* İkonun üzerine gelindiğinde renk değişir */
  box-shadow: 0 0 8px 2px rgba(23, 23, 23, 0.744);
  transform: scale(1.03);
}

.contact-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.contact-button:hover {
  border-bottom: 1px solid #ffffff; /* Altı çizgisi hover sırasında belirir */
}

.footer-bottom {
  font-size: 60px; /* Font boyutunu yeterli seviyede ayarlama */
  margin-top: 10px; /* Üst boşluğu arttırma */
  color: #d7d7d7; /* Yazının rengi, arka plandan farklı olmalı */
  text-align: center; /* Yazıyı ortalama */
}


/* Sayfanın içeriği footer'ı gizlemesin diye alt boşluk ekle */
body {
  margin: 0;
  padding-bottom: 80px; /* Footer yüksekliğine göre ayarlayın */
}
