
/* Genel stil ayarları */
.product-list-page {
  padding: 20px;
  background-image: url("../pictures/pexels-pixabay-414659.jpg");
  background-size: cover;
  background-attachment: fixed; /* Arka planın kaydırıldıkça sabit kalmasını sağlar */
  background-position: center;
  color: #333; /* Yazı rengi */
  min-height: 100vh; /* Sayfa yüksekliği */
  box-sizing: border-box; /* Kenarlıkları hesaba kat */
}

.filter-buttons {
  margin-bottom: 20px;
  text-align: center; /* Butonları ortalar */
}

.filter-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.filter-buttons .active {
  background-color: #007bff;
  color: #fff;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff88; /* Hafif şeffaf beyaz arka plan */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative; /* Add relative positioning for button positioning */
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-link {
  text-decoration: none;
  color: inherit;
  flex: 1;
  padding: 10px; /* İçeriği biraz yastıkla */
}

.product-link h2,
.product-link p {
  margin: 0;
  padding: 0;
}

.product-link h2 {
  font-size: 1.25rem;
  color: #222; /* Başlık rengi daha koyu */
}

.product-link p {
  font-size: 1rem;
  color: #555; /* Açıklama rengi */
  margin-bottom: 10px; /* Alt boşluk */
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #6b6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 20px;
  margin-top: 10px;
  align-self: center; /* Butonu ortalar */
}

.add-to-cart-button:hover {
  background-color: #3a3a3a;
  transform: scale(1.05); /* Hover'da hafif büyütme efekti */
}

.load-more-button {
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #646464;
}

.loading-container,
.error-message {
  text-align: center;
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  font-weight: bold;
  color: #0a0a0ad5;

  background-size: cover;
  background-position: center;
}
