/* Genel Stil */
.product-detail-page {
  padding: 80px 20px 20px; /* Üst boşluk, navbar yüksekliği göz önüne alınarak artırıldı */
  background-image: url("../pictures/pexels-pixabay-414659.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: #333;
  box-sizing: border-box;
}

.product-detail-section {
  background-color: rgba(153, 153, 153, 0.363); /* Yarı saydam beyaz arka plan */
  border-radius: 12px;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.574);
}

.product-detail-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.product-detail-page img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
}

.product-detail-page p {
  font-size: 1.2rem;
  color: #121212;
  margin-bottom: 20px;
}

.add-to-cart-button {
  padding: 12px 24px;
  background-color: #282727;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #171717;
  transform: scale(1.05);
}

.loading-container,
.error-message {
  text-align: center;
}
