.product-detail-page {
  padding: 20px;
  max-width: 1200px; /* Maksimum genişlik */
  margin: 0 auto; /* Ortala */
  background-color: #f9f9f9;
}

.product-info {
  text-align: center;
  margin-top: 20px;
}

.product-info h1 {
  font-size: 2.5rem; /* Başlık boyutu */
  color: #333; /* Koyu gri renk */
  margin-bottom: 10px; /* Başlık ve açıklama arasına boşluk */
}

.product-detail-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Hafif sınır rengi */
  border-radius: 8px; /* Köşeleri yuvarla */
  margin-bottom: 20px;
}

.product-category {
  font-size: 1.2rem; /* Kategori yazı boyutu */
  color: #666; /* Açıklama rengi */
  margin-bottom: 10px; /* Kategori ve fiyat arasına boşluk */
}

.product-price {
  font-size: 1.4rem; /* Fiyat yazı boyutu */
  color: #333; /* Koyu gri renk */
  margin-bottom: 10px; /* Fiyat ve açıklama arasına boşluk */
}

.product-description {
  font-size: 1.2rem; /* Açıklama yazı boyutu */
  color: #666; /* Açıklama rengi */
  line-height: 1.6; /* Satır yüksekliği */
  margin-bottom: 20px; /* Açıklama ve buton arasına boşluk */
}

button {
  padding: 12px 24px; /* Daha geniş iç padding */
  font-size: 16px; /* Yazı boyutu */
  border: none;
  border-radius: 5px; /* Köşeleri yuvarla */
  background-color: #007bff; /* Buton rengi */
  color: #fff; /* Buton metin rengi */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Geçiş efektleri */
}

button:hover {
  background-color: #0056b3; /* Hover'da arka plan rengi */
  transform: translateY(-2px); /* Hover'da hafif yukarı kaydırma */
}

button:focus {
  outline: none; /* Odaklanma çizgisini kaldır */
}
