/* General styles */
.works-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.work-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.work-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.work-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

h3 {
  font-size: 1.6rem;
  color: #333;
  margin: 15px 0;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

/* Loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Error message */
.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
.product-detail-page {
  padding: 80px 20px 20px; /* Üst boşluk, navbar yüksekliği göz önüne alınarak artırıldı */
  text-align: center; /* Başlık ve diğer metinlerin ortalanması */
}

.product-detail-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.product-detail-page img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; /* Görseli ortalamak için block olarak ayarlıyoruz */
  margin-bottom: 20px; /* Görsel ile açıklama arasına boşluk ekleme */
}

.product-detail-page p {
  font-size: 1.2rem;
  color: #555;
}
.add-to-cart-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #555;
}


/* Loading ve Hata Mesajı Stilleri */
.product-detail-page .loading-container,
.product-detail-page .error-message {
  text-align: center;
}