html {
  margin: 0;

  height: 100%;
}
body {
  height: 100%;
  margin: 0;

  font-family: Arial, sans-serif;

  background-image: url("./pictures/pexels-sena-senol-748456519-22937007.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: relative; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
}

.App {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: relative; /* Navbar'ın arka plan resminin üstünde görünmesini sağlar */
  min-height: 100vh; /* Sayfanın tüm yüksekliği kaplanacak şekilde ayarlanır */
  flex: 1;
  padding-bottom: 50px;
}

.navbar {
  position: fixed; /* Navbar'ı sayfanın üst kısmına sabitlemek için */
  top: 5;
  left: 0;
  width: 100%;
  z-index: 1000; /* Navbar'ın diğer içeriklerin üzerinde görünmesini sağlar */
  background-color: rgba(27, 27, 27, 0.7);
  color: white;
  padding: 10px 20px;
}
.footer {
  background-color: #393939;
  color: white;
  text-align: center;
  padding: 12px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  height: 40px;
}
